[tool.poetry]
name = "ampel-core"
version = "0.7.1-alpha.6"
description = "Asynchronous and Modular Platform with Execution Layers"
authors = [
    "Valery Brinnel"
]
maintainers = [
    "Jakob van Santen <jakob.van.santen@desy.de>"
]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://ampelproject.github.io"
repository = "https://github.com/AmpelProject/Ampel-core"
documentation = "https://ampelproject.github.io/Ampel-core"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Typing :: Typed",
]
packages = [
    {include = "ampel"}
]
include = [
    'conf/*/*.json',
    'conf/*/*/*.json',
    'conf/*/*.yaml',
    'conf/*/*/*.yaml',
    'conf/*/*.yml',
    'conf/*/*/*.yml',
]

[tool.poetry.scripts]
ampel-controller = 'ampel.core.AmpelController:AmpelController.main'
ampel-config = 'ampel.config.cli:main'
ampel-db = 'ampel.db.AmpelDB:main'

[tool.poetry.dependencies]
ampel-interface = {version = "^0.7.1-alpha.8"}
python = "^3.8"
pydantic = "~1.4"
pymongo = "^3.10"
PyYAML = "^5.4.1"
sjcl = "^0.2.1"
schedule = "^1.0.0"
yq = "^2.12.0"
prometheus-client = "^0.9.0"
psutil = "^5.8.0"
slackclient = "^2.7"
fastapi = {version = "^0.63.0", optional = true}
uvicorn = {version = "^0.13.3", optional = true, extras = ["standard"]}
Sphinx = {version = "^3.5.1", optional = true}
sphinx-press-theme = {version = "^0.5.1", optional = true}
sphinx-autodoc-typehints = {version = "^1.11.1", optional = true}
tomlkit = {version = "^0.7.0", optional = true}
svgutils = {version = "^0.3.4", optional = true}
CairoSVG = {version = "^2.5.1", optional = true}
matplotlib = {version = "^3.3.4", optional = true}
ipython = {version = "^7.21.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
mypy = "^0.812"
pytest-asyncio = "^0.14.0"
pytest-mock = "^3.5.1"
mongomock = "^3.22.1"
httpx = "^0.17.1"

[tool.poetry.extras]
server = ["fastapi", "uvicorn"]
plotting = ["svgutils", "CairoSVG", "matplotlib", "ipython"]
docs = ["Sphinx", "sphinx-press-theme", "sphinx-autodoc-typehints", "tomlkit"]

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=40.8.0"]
build-backend = "poetry.core.masonry.api"
