[tool.poetry]
name = "ampel-core"
version = "0.8.2-alpha.7"
description = "Asynchronous and Modular Platform with Execution Layers"
authors = ["Valery Brinnel"]
maintainers = ["Jakob van Santen <jakob.van.santen@desy.de>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://ampelproject.github.io"
repository = "https://github.com/AmpelProject/Ampel-core"
documentation = "https://ampelproject.github.io/Ampel-core"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Typing :: Typed",
]
packages = [{include = "ampel"}]
include = [
    'conf/*/*.json',
    'conf/*/*/*.json',
    'conf/*/*.yaml',
    'conf/*/*/*.yaml',
    'conf/*/*.yml',
    'conf/*/*/*.yml',
]

[tool.poetry.scripts]
ampel-controller = 'ampel.core.AmpelController:AmpelController.main'
ampel-config = 'ampel.config.cli:main'
ampel-db = 'ampel.db.AmpelDB:main'
ampel = 'ampel.cli.main:main'

[tool.poetry.plugins.cli]
'job Run provided job file' = 'ampel.cli.JobCommand'
'run Run selected process(es) from config' = 'ampel.cli.RunCommand'
'log Select, format and either view or save logs. Tail mode availabe' = 'ampel.cli.LogCommand'
'view Select, load and save fresh "ampel views"' = 'ampel.cli.ViewCommand'
'db Initialize, dump, delete specific databases or collections' = 'ampel.cli.DBCommand'
'config Build or update config. Fetch or append config elements' = 'ampel.cli.ConfigCommand'
'start Run ampel continuously. Processes are scheduled according to config' = 'ampel.cli.StartCommand'
't2 Match and either reset or view raw t2 documents' = 'ampel.cli.T2Command'
'buffer Match and view or save ampel buffers' = 'ampel.cli.BufferCommand'

[tool.poetry.dependencies]
ampel-interface = {version = ">=0.8.2-alpha.6,<0.8.3"}
python = ">=3.9,<3.10"
pydantic = ">=1.8.1,<1.9"
pymongo = "^4.0"
PyYAML = ">=5.4,<7.0"
xxhash = "^2.0.2"
sjcl = "^0.2.1"
schedule = "^1.0.0"
yq = "^2.12.0"
prometheus-client = ">=0.10,<0.12"
psutil = "^5.8.0"
slackclient = "^2.7"
fastapi = {version = ">=0.63,<0.69", optional = true}
uvicorn = {version = ">=0.13.3,<0.16.0", optional = true, extras = ["standard"]}
Sphinx = {version = ">=3.5.1,<5.0.0", optional = true}
sphinx-press-theme = {version = ">=0.5.1,<0.9.0", optional = true}
sphinx-autodoc-typehints = {version = "^1.11.1", optional = true}
tomlkit = {version = "^0.7.0", optional = true}
ujson = "^4.0.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
mypy = "^0.910"
pytest-asyncio = "^0.15.1"
pytest-mock = "^3.6.1"
mongomock = "^3.23.0"
httpx = "^0.19.0"
types-setuptools = "^57.4.0"
types-PyYAML = "^6.0.1"

[tool.poetry.extras]
server = ["fastapi", "uvicorn"]
docs = ["Sphinx", "sphinx-press-theme", "sphinx-autodoc-typehints", "tomlkit"]

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=40.8.0"]
build-backend = "poetry.core.masonry.api"
