name: docs

on:
  push:
    branches:
      - 'master'
      - 'poetry'
    tags:
      - 'v*'


jobs:
  docs:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade poetry
        poetry install -E docs
    - name: Build
      run: |
        poetry run sphinx-build docs/sphinx public
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
