name: ci

on:
  push:
    branches:
      - master
      - renovate/*
      - dev/*
      - feature/*
      - fix/*
      - refactor/*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - stable/*
      - dev/*
      - feature/*
      - fix/*
      - refactor/*

jobs:
  ci:
    uses: AmpelProject/Ampel-interface/.github/workflows/ci.yml@0900945de79358f5ac065ab2129be44fcd0b11b8 # ci-py12-v9
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      mongo: true
      lint: true
      # renovate: datasource=python-version depName=python
      python-version: "3.13.1"
      # renovate: datasource=pypi depName=ruff depType=dev
      ruff-version: "0.14.7"
